/*! -----------------------------------------------------------------
[Colors]
*/

::-moz-selection {
    background: rgba(231, 76, 60, .9);
}

::-webkit-selection {
    background: rgba(231, 76, 60, .9);
}

::selection {
    background: rgba(231, 76, 60, .9);
}

a {
    color: #e74c3c;
}

a:hover,
a:focus {
    color: #d62c1a;
}

h1 > a:hover,
h1 > a:focus,
h2 > a:hover,
h2 > a:focus,
h3 > a:hover,
h3 > a:focus,
h4 > a:hover,
h4 > a:focus,
h5 > a:hover,
h5 > a:focus,
h6 > a:hover,
h6 > a:focus {
    color: #e74c3c;
}

.btn.btn-gray:before,
.btn.btn-brand:before,
.post-tags a:hover,
.comment-reply > a:hover,
.comment-reply > a:focus,
.slides-pagination a.current,
.widget_tag_cloud .tagcloud > a:hover,
.blog-grid .post-preview .post-category,
.blog-masonry .post-preview .post-category,
.progress-bar.progress-bar-brand {
    background: #e74c3c;
}

.owl-dots .owl-dot.active {
    background: rgba(231, 76, 60, .7);
}

.post-info a:hover,
.post-info a:focus,
.post-meta a:hover,
.post-meta a:focus,
.social-icons > li > a:hover,
.social-icons > li > a:focus,
.comment-meta-date a:hover,
.comment-meta-date a:focus,
.filters > li a:hover,
.filters > li a.current,
.widget a:hover,
.widget a:focus,
.search-button:hover,
.breadcrumb-item > a:hover,
.breadcrumb-item > a:focus,
.comment-meta-author a:hover,
.comment-meta-author a:focus,
.inner-nav .sub-menu li a:hover,
.inner-nav .sub-menu li.sub-menu-open > a,
.header.header-small .inner-nav > ul > li > a:hover,
.header.header-small .inner-nav > ul > li > a:focus,
.header.header-small .inner-nav > ul > li > a.active,
.header.header-small .inner-nav > ul > li.sub-menu-open > a {
    color: #e74c3c;
}

.nav-pills .nav-link.active,
.page-item.active .page-link,
.page-link:focus,
.page-link:hover,
.post-content blockquote:hover,
.inner-nav .sub-menu li.sub-menu-open > a {
    border-color: #e74c3c;
}

.bg-dark a:not(.btn),
.bg-gradient a:not(.btn),
.module-dark a:not(.btn) {
    color: #e74c3c;
}

.bg-dark a:not(.btn):hover,
.bg-dark a:not(.btn):focus,
.bg-gradient a:not(.btn):hover,
.bg-gradient a:not(.btn):focus,
.module-dark a:not(.btn):hover,
.module-dark a:not(.btn):focus {
    color: #d62c1a;
}

.bg-dark h1 > a:hover,
.bg-dark h1 > a:focus,
.bg-dark .h1 > a:hover,
.bg-dark .h1 > a:focus,
.bg-dark h2 > a:hover,
.bg-dark h2 > a:focus,
.bg-dark .h2 > a:hover,
.bg-dark .h2 > a:focus,
.bg-dark h3 > a:hover,
.bg-dark h3 > a:focus,
.bg-dark .h3 > a:hover,
.bg-dark .h3 > a:focus,
.bg-dark h4 > a:hover,
.bg-dark h4 > a:focus,
.bg-dark .h4 > a:hover,
.bg-dark .h4 > a:focus,
.bg-dark h5 > a:hover,
.bg-dark h5 > a:focus,
.bg-dark .h5 > a:hover,
.bg-dark .h5 > a:focus,
.bg-dark h6 > a:hover,
.bg-dark h6 > a:focus,
.bg-dark .h6 > a:hover,
.bg-dark .h6 > a:focus,
.bg-gradient h1 > a:hover,
.bg-gradient h1 > a:focus,
.bg-gradient .h1 > a:hover,
.bg-gradient .h1 > a:focus,
.bg-gradient h2 > a:hover,
.bg-gradient h2 > a:focus,
.bg-gradient .h2 > a:hover,
.bg-gradient .h2 > a:focus,
.bg-gradient h3 > a:hover,
.bg-gradient h3 > a:focus,
.bg-gradient .h3 > a:hover,
.bg-gradient .h3 > a:focus,
.bg-gradient h4 > a:hover,
.bg-gradient h4 > a:focus,
.bg-gradient .h4 > a:hover,
.bg-gradient .h4 > a:focus,
.bg-gradient h5 > a:hover,
.bg-gradient h5 > a:focus,
.bg-gradient .h5 > a:hover,
.bg-gradient .h5 > a:focus,
.bg-gradient h6 > a:hover,
.bg-gradient h6 > a:focus,
.bg-gradient .h6 > a:hover,
.bg-gradient .h6 > a:focus,
.module-dark h1 > a:hover,
.module-dark h1 > a:focus,
.module-dark .h1 > a:hover,
.module-dark .h1 > a:focus,
.module-dark h2 > a:hover,
.module-dark h2 > a:focus,
.module-dark .h2 > a:hover,
.module-dark .h2 > a:focus,
.module-dark h3 > a:hover,
.module-dark h3 > a:focus,
.module-dark .h3 > a:hover,
.module-dark .h3 > a:focus,
.module-dark h4 > a:hover,
.module-dark h4 > a:focus,
.module-dark .h4 > a:hover,
.module-dark .h4 > a:focus,
.module-dark h5 > a:hover,
.module-dark h5 > a:focus,
.module-dark .h5 > a:hover,
.module-dark .h5 > a:focus,
.module-dark h6 > a:hover,
.module-dark h6 > a:focus,
.module-dark .h6 > a:hover,
.module-dark .h6 > a:focus {
    color: #e74c3c;
}

.bg-dark .nav-pills .nav-link.active,
.bg-gradient .nav-pills .nav-link.active,
.module-dark .nav-pills .nav-link.active {
    border-color: #e74c3c;
}

.bg-dark .nav-pills .nav-link.active,
.bg-dark .show > .nav-pills .nav-link,
.bg-gradient .nav-pills .nav-link.active,
.bg-gradient .show > .nav-pills .nav-link,
.module-dark .nav-pills .nav-link.active,
.module-dark .show > .nav-pills .nav-link {
    color: #e74c3c;
}

.bg-dark .accordion .card-header a:hover,
.bg-gradient .accordion .card-header a:hover,
.module-dark .accordion .card-header a:hover {
    color: #e74c3c;
}

.bg-dark .post-meta a:hover,
.bg-dark .post-meta a:focus,
.bg-gradient .post-meta a:hover,
.bg-gradient .post-meta a:focus,
.module-dark .post-meta a:hover,
.module-dark .post-meta a:focus {
    color: #e74c3c;
}

.bg-dark .owl-dots .owl-dot.active,
.bg-gradient .owl-dots .owl-dot.active,
.module-dark .owl-dots .owl-dot.active {
    background: rgba(231, 76, 60, .7);
}
